<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://39.108.13.197:3306/WEIXU_BLOG</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.example.demo.entity.WxPoemInfoEntity"/>
    <mapping class="com.example.demo.entity.WxUserInfoEntity"/>
    <mapping class="com.example.demo.entity.WxWebsiteInfoEntity"/>
    <mapping class="com.example.demo.entity.WxBlogInfo"/>
    <mapping class="com.example.demo.entity.WxBlogTag"/>
      <mapping class="com.example.demo.entity.WxVisitedLocation"/>
      <mapping class="com.example.demo.entity.WxWords"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>